##======================================================================
##
## Copyright (C) 2007. Mario Rincon Nigro.
## Universidad de Los Andes.
##
## This file is part of Genna.
##
## Genna is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 2 of the License, or
## (at your option) any later version.
##
## Genna is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Genna.  If not, see <http://www.gnu.org/licenses/>.
##
##======================================================================

##======================
## Plantilla para crear el archivo en el que se definen
## los nombres de todas las clases del usuario presentes
## en el modelo, para C++
##======================

##================
## GUARDIA DE COMPILACION
##================
#set $_ifndef_directive = '#ifndef ' + $upper($package.name) + '_ALL_DEFINITIONS_H'
#set $_define_directive = '#define ' + $upper($package.name) + '_ALL_DEFINITIONS_H'
$_ifndef_directive
$_define_directive

#set $_include_directive = '#include <vector>'
$_include_directive

#set global $_package = $package
#set $_source = $join_path($CPLUSPLUS_TEMPLATES_DIR , 'all_definitions.cpp.tmpl')
#include $_source

#set $_endif_directive = '#endif'
$_endif_directive
